.map {
    height: 10vh;
    width: 960px;
}
.container {
    height: 50vh;
    width: 100%;
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}