.container {
    /* width: 960px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.searchBar {
    width: 400px;
    position: absolute;
    z-index: 1;
}