.leaflet-container { 
    width: 50%;
    height: 40vh;
    /* max-width: 960px; */

    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
}

div {
    text-align: center;
  }

